@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: #ecedee;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app-block {
  width: 1125px;
  height: 870px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  display: flex;
}

.app-panel {
  width: 300px;
  height: 100%;
  border-radius: 12px 0 0 12px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logo {
  font-size: 22px;
  font-family: "Press Start 2P", cursive;
  margin-top: 5px;
  margin-bottom: 5px;

  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 150, 4, 1) 0%,
    rgba(240, 13, 134, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-images {
  width: 900px;
  height: 100%;
  border-radius: 0 12px 12px 0;
}

.app-image {
  width: 100%;
  height: calc(50% - 5px);

  padding: 15px;

  &:first-child {
    border-radius: 0 12px 0 0;
  }

  &:last-child {
    border-radius: 0 0 12px 0;
  }
}

.radio-blocks {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.radio-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.MuiFormGroup-root {
  flex-direction: row !important;
  gap: 30px;
}

canvas {
  width: 100%;
  height: 100%;
  border: 1px lightgray solid;
}

.label-import {
  width: 100%;
}

.alert {
  width: 500px;
  position: absolute;
  top: 25px;
}
